<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>2004Scape Extension</title>
    </head>
    <body>
        <div class="content">
            <div id="worlds-component" class="component">
                <section id="header-f2p">
                    <b>Free-to-play</b>
                    <ul id="worlds-f2p" class="flex-row flex-center spacing worlds"></ul>
                </section>
                <section id="header-p2p">
                    <b>Pay-to-play</b>
                    <ul id="worlds-p2p" class="flex-row flex-center spacing worlds"></ul>
                </section>
            </div>

            <div id="settings-page" class="account-page">
                <b>Settings</b>
                <div class="component flex-row">
                    <label for="toggle-f2p-worlds">Show free-to-play worlds:</label>
                    <input type="checkbox" name="toggle-f2p-worlds" id="toggle-f2p-worlds" checked />
                </div>
                <div class="component flex-row">
                    <label for="toggle-p2p-worlds">Show pay-to-play worlds:</label>
                    <input type="checkbox" name="toggle-p2p-worlds" id="toggle-p2p-worlds" checked />
                </div>
                <div class="account-field flex-row flex-sb">
                    <a href="#" id="settings-save">Save</a>
                    <a href="#" id="settings-cancel">Cancel</a>
                </div>
            </div>
            
            <div id="create-account-page" class="account-page">
                <b>Add Account</b>
                <div class="account-field">
                    <label for="create-account-username">Username</label>
                    <input type="text" name="username" id="create-account-username" />
                </div>
                <div class="account-field">
                    <label for="create-account-password">Password</label>
                    <input type="password" name="password" id="create-account-password" />
                </div>
                <div class="account-field flex-row flex-sb">
                    <a href="#" id="create-account-save">Save</a>
                    <a href="#" id="create-account-cancel">Cancel</a>
                </div>
            </div>
            
            <div id="delete-account-page" class="account-page">
                <b>Delete Account</b>
                <div class="account-field">
                    <label for="delete-account-username">Username</label>
                    <input type="text" name="username" id="delete-account-username" />
                </div>
                <div class="account-field flex-row flex-sb">
                    <a href="#" id="delete-account-delete">Delete</a>
                    <a href="#" id="delete-account-cancel">Cancel</a>
                </div>
            </div>
            
            <div id="accounts-component" class="component">
                <b>Accounts</b>
                <ul id="accounts" class="flex-column spacing"></ul>
            </div>
            
            <div id="controls" class="controls flex-row flex-sb">
                <a href="#" id="add-account">Add Account</a>
                <a href="#" id="delete-account">Delete Account</a>
                <a href="#" id="open-settings">Settings</a>
            </div>
        </div>
    </body>
</html>
